//  Neuro Brand colors:
:root {
  --white: #ffffff;
  --black: #2E2D29;
  --darkGray: #4D4F53;
  --mediumGray: #B1B3B3;
  --lightGray:#EFF0F0;
  --cerdinalRed: #8C1515;
  --warmRed: #DA291C;
  --purple: #53284F;
  --lagunita: #007C92;
  --lightBlue: #98C2C8;
  --blue: #2C5697;
  --green: #8FAD15;
  --gold: #CFB500;
  --lightGold: #DCD59A;
  --melon: #FF6D6A;
  --orange: #E27532;
}
