{#
/**
 *  @file       templates/_button.twig
  *  @brief      The Button template.
  *              This template is used to generate a button.
  *              Variables:
  *               - label: The label of the button.
  *               - type: The type of the button.
  *               - class: The class of the button.
  *               - id: The id of the button.
  *               - name: The name of the button.
  *               - value: The value of the button.
  *               - disabled: The disabled state of the button.
 */
#}
<button class="btn-primary p-8 px-12 py-12 mx-16">
    {{ label }}
</button>
